:root {
  --primary-color: #2e51ed;

  --primary-linear: linear-gradient(
    90.05deg,
    #7171db -43.75%,
    #2e51ed 45.9%,
    #5f32c0 123.14%
  );
}

body {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

h1 {
  color: transparent;
  background: var(--primary-linear);
  -webkit-background-clip: text;
  font-size: 74px;
  /* background-clip: inherit; */
  -webkit-text-fill-color: transparent;
}
